{% extends "base.html" %} 
{% load static %} 
{% block main %}

<div id="login-form-body">
    <div class="form-signin">
        <form class="loginform" action="{% url 'dublinBus:login' %}" method="POST">
            {% csrf_token %}
            <!--{{ form }}-->
            <img class="mb-4 center-block" src="./static/images/GoTapaLogo.png" alt="" width="300" height="120">
            <!--  <h1 class="h3 mb-3 font-weight-normal text-center">Sign in</h1> -->
            {% for field in form %}
            <div class="input-group">
                <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.html_name }}"
                    type="{{ field.html_name }}" /> {{ field.errors }}
            </div>
            {% endfor %}
    
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
        </form>
        
        <form class="signupform" action="{% url 'dublinBus:signup' %}" method="POST">
            {% csrf_token %}
        
        <div id="signup-btn">
            <button id="btn-signup" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>
                                
                                
{% endblock %}
